@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: light dark;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.common-container{
  background-color: light-dark( #F7F9FC, #343131);
  padding: 2em;
  border-radius: 1em;
}

.nav-bar{
  background-color: light-dark( #F7F9FC, #343131);
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 1em;
}

/* width */
::-webkit-scrollbar {
  width: 0.15em;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1;  */
  background:rgba(241, 241, 241, 0); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #747fff;
  border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #525BC4; 
}